<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="api_users">
  <% @api_users.each do |api_user| %>
    <%= render api_user %>
    <p>
      <%= link_to "Show this user", api_user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_api_user_path %>
