<h1>Editing portfolio</h1>

<%= render "form", api_portfolio: @api_portfolio %>

<br>

<div>
  <%= link_to "Show this portfolio", @api_portfolio %> |
  <%= link_to "Back to portfolios", api_portfolios_path %>
</div>
