<h1>Editing company</h1>

<%= render "form", api_company: @api_company %>

<br>

<div>
  <%= link_to "Show this company", @api_company %> |
  <%= link_to "Back to companies", api_companies_path %>
</div>
